.sobre {
  top: 100px;
  left: 30px;
  opacity: 0.7;
  background-color: grey;
  color: white;
  transform: rotate(10deg);
  border: 1px solid red;
}
.p1 {text-align: center;}
th {background-color: rgb(46, 102, 185);
color: white;
text-align: center;}
tr {text-align: center;}



